
<script>
  function carouselData() {
    const duration = 4000;
    return {
      activeSlide: 1,
      pause: false,
      init() {
        setInterval(() => {
          if (!this.pause) {
            this.activeSlide = (this.activeSlide + 1 > {{ data.carouselPosts.length }}) ? 1 : this.activeSlide + 1;
          }
        }, 
        duration)
      }
    };
  }
</script>

<section class="container mx-auto h-almost-full py-4 md:py-10 px-5">
  <div 
    x-data="carouselData()"   
    x-init="init()" 
    class="carousel h-full relative">

    <!-- SLIDES -->
    {% for item in data.carouselPosts %}
      <a
        @mouseenter="pause = true"
        @mouseleave="pause = false"
        x-show="activeSlide == {{ loop.index }}"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform scale-100"
        x-transition:enter-end="opacity-100 transform scale-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 transform scale-100"
        x-transition:leave-end="opacity-0 transform scale-100"
        href="/post/{{ item.slug }}/"
        class="carousel-item absolute inset-0 bg-center bg-cover flex flex-col justify-end p-10 text-white rounded-xl transition-opacity duration-1000 ease-in-out"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ item.imagePostCarousel.url }}')"
      >
        <h2 class="text-3xl font-bold mb-4 md:w-2/3">
          {{ item.title }}
        </h2>
        <div class="flex items-center text-sm">
          <span class="mr-1">
            <svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
            </svg>
          </span>
          <span>{{ item.publishedAt | date_to_long_string }}</span>
        </div>
      </a>
    {% endfor %}

    <!-- THUMBNAILS / SLIDES NAVIGAtION-->
    <div class="absolute inset-y-0 right-0 w-1/4 z-20 hidden lg:flex flex-col justify-around cursor-pointer">
      {% for item in data.carouselPosts %}
        <div @click.prevent="activeSlide = {{ loop.index }}" class="flex items-center">
          <div class="w-1/5">
            <img class="h-14 rounded-full" src="{{ item.imagePostCarouselThumbnail.url }}" alt="" loading="lazy">
          </div>
          <div
            class="w-4/5 px-4"
            style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;"
          >
            <p 
              :class="{ 
                'opacity-100': activeSlide === {{ loop.index }}, 
                'opacity-50': activeSlide !== {{ loop.index }} 
              }" 
              class="carousel-item-thumbnail-title font-bold text-white">
                {{ item.title }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
