<script>
document.documentElement.className = document
  .documentElement
  .className
  .replace(/\bno-js\b/g, '') + 'has-js ';
</script>

{% if process.env.ELEVENTY_ENV === "production" and process.env.GOOGLE_ANALYTICS_TRACKING_ID  %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ process.env.GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ process.env.GOOGLE_ANALYTICS_TRACKING_ID }}');
  </script>
{% endif %}
