<script>
document.documentElement.className = document
  .documentElement
  .className
  .replace(/\bno-js\b/g, '') + 'has-js ';
  
/**
 * register service worker.
 */
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator
      .serviceWorker
      .register('/sw.js');
  });
  navigator
    .serviceWorker
    .addEventListener('message', async (event) => {
      // Optional: ensure the message came from workbox-broadcast-update
      if (event.data.meta === 'workbox-broadcast-update') {
        const {cacheName, updatedUrl} = event.data.payload;
        console.groupCollapsed(`[Page] Updated content in "${cacheName}": ${updatedUrl}`);
        const cache = await caches.open(cacheName);
        const updatedResponse = await cache.match(updatedUrl);
        if (updatedResponse) {
          const updatedText = await updatedResponse.text();
          console.log(updatedText);
        }
        console.groupEnd();
      }
    });
}
</script>

{% if process.env.ELEVENTY_ENV === "production" and process.env.GOOGLE_ANALYTICS_TRACKING_ID  %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ process.env.GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ process.env.GOOGLE_ANALYTICS_TRACKING_ID }}');
  </script>
{% endif %}



