---
pagination:
  data: data.posts
  size: 1
  alias: post
permalink: "post/{{ post.slug }}/"
---
{% extends 'layout.njk' %}
{% import "macros.njk" as macros %}

{% block head %}
    {{
      macros.metadata(
        title = post.title,
        description = post.teaser,
        url = process.env.SITE_URL + page.url,
        siteName = data.blog.name,
        image = post.image.url
      )
    }}
{% endblock %}

{% block content %}
  <div
    class="h-almost-full"
    style="background: url({{ post.imagePostPage.url }}) no-repeat center center fixed; background-size: cover"
  >
    <div
      class="h-full px-8 py-8 md:px-20 md:py-12 flex flex-col justify-end text-white"
      style="background: linear-gradient(to bottom, transparent 40%, black 100%)"
    >
      <h1 class="text-4xl font-bold mb-4">{{ post.title }}</h1>
      <div class="flex items-center text-sm">
        <span class="mr-1">
          <svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
          </svg>
        </span>
        <span>{{ post.publishedAt | date_to_long_string }}</span>
      </div>
    </div>
  </div>
  <div class="container mx-auto my-16">
    <div class="post-content flex flex-col md:flex-row">
      <div class="ck-content mx-4 md:mx-0 md:w-2/3">
        {{ post.content | safe }}
      </div>
      <div class="md:w-1/3 mx-4 md:mx-0 md:pl-16">
        <p class="text-2xl font-bold">{{ config.recentPostsText }}</p>
        {% for item in data.posts.slice(0, 4) %}
          <div class="py-6 flex items-center">
            <div class="pr-2 flex-1">
              <a href="/post/{{ item.slug }}/">
                <p class="text-lg font-bold leading-6 mb-2">{{ item.title }}</p>
              </a>
              <div class="flex items-center text-sm text-gray-600">
                <span class="mr-1">
                  <svg stroke="#718096" fill="#718096" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                  </svg>
                </span>
                <span>{{ item.publishedAt | date_to_long_string }}</span>
              </div>
            </div>
            <a href="/post/{{ item.slug }}/">
              <img class="rounded-xl" aria-hidden="false" src="{{ item.imagePostRecent.url }}" alt="" loading="lazy">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.iframe.ly/embed.js?api_key={{process.env.IFRAMELY_API_KEY}}"></script>
  <script>
    // display rich links preview with iframely, if here is a iframely key
    if (window.iframely && "{{process.env.IFRAMELY_API_KEY}}".trim().length > 0) {
      document.querySelectorAll("oembed[url]").forEach(element => {
        window.iframely.load(element, element.attributes.url.value);
      });
    }
  </script>
{% endblock %}