---
title: Oops! Page Not Found
permalink: 404.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body style="height: 80vh; display: flex; align-items: center; justify-content: center; text-align: center; font-family: Helvetica;">
    <div>
      <h1>{{ title }}</h1>
      <p>
        <a href="{{ "/" | url }}">Get back to homepage</a>
      </p>
    </div>
  </body>
</html>
