---
pagination:
    data: data.posts
    size: 18
permalink: "{% if pagination.pageNumber > 0 %}/pages/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
---

{% extends 'layout.njk' %}
{% import "macros.njk" as macros %}

{% block head %}
  {{
    macros.metadata(
      title=data.blog.name,
      description=data.blog.description,
      url=process.env.SITE_URL,
      siteName=data.blog.name,
      image=data.blog.image.url
    )
  }}
{% endblock %}

{% block content %}

  {% if data.carouselPosts | length > 0 %}
    {{ macros.carousel(data.carouselPosts) }}
  {% endif %}

  <section class="container mx-auto my-4">
    <div class="flex flex-wrap">
      {{ macros.postList(pagination.items) }}
    </div>

    {% if pagination.hrefs | length > 1 %}
      {{ macros.pagination(pagination) }}
    {% endif %}
  </section>

{% endblock %}



