---
pagination:
    data: data.posts
    size: 18
permalink: "{% if pagination.pageNumber > 0 %}/pages/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
---
{% extends 'layout.njk' %}
{% import "macros.njk" as macros %}

{% block head %}
  {{
    macros.metadata(
      title=data.blog.name,
      description=data.blog.description,
      url=process.env.SITE_URL,
      siteName=data.blog.name,
      image=data.blog.image.url
    )
  }}
{% endblock %}

{% block content %}
  <section class="container mx-auto h-almost-full py-4 md:py-10 px-5">
    <div class="carousel h-full relative">
      {% for item in data.carouselPosts %}
        <a
          href="/post/{{ item.slug }}/"
          id="carousel-item-{{ loop.index }}"
          class="carousel-item absolute inset-0 bg-center bg-cover flex flex-col justify-end p-10 text-white rounded-xl transition-opacity duration-1000 ease-in-out{% if loop.first %} opacity-100 z-10{% else %} opacity-0{% endif %}"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ item.imagePostCarousel.url }}')"
        >
          <h2 class="text-3xl font-bold mb-4 md:w-2/3">
            {{ item.title }}
          </h2>
          <div class="flex items-center text-sm">
            <span class="mr-1">
              <svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
              </svg>
            </span>
            <span>{{ item.publishedAt | date_to_long_string }}</span>
          </div>
        </a>
      {% endfor %}
      <div class="absolute inset-y-0 right-0 w-1/4 z-20 hidden lg:flex flex-col justify-around cursor-pointer">
        {% for item in data.carouselPosts %}
          <div id="carousel-item-thumbnail-{{ loop.index }}" class="flex items-center">
            <div class="w-1/5">
              <img class="h-14 rounded-full" src="{{ item.imagePostCarouselThumbnail.url }}" alt="" loading="lazy">
            </div>
            <div
              class="w-4/5 px-4"
              style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;"
            >
              <p class="carousel-item-thumbnail-title font-bold text-white{% if loop.first %} opacity-100{% else %} opacity-50{% endif %}">
                {{ item.title }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="container mx-auto my-4">
    <div class="flex flex-wrap">
      {% for item in pagination.items %}
        <div class="w-full md:w-1/3 px-5 py-8">
          <a href="/post/{{ item.slug }}/">
            <img class="w-full rounded-xl" src="{{ item.imagePostList.url }}" alt="" loading="lazy">
          </a>
          <h2 class="text-2xl font-bold leading-7 my-4">
            <a href="/post/{{ item.slug }}/">{{ item.title }}</a>
          </h2>
          <div class="flex items-center text-sm text-gray-600">
            <span class="mr-1">
              <svg stroke="#718096" fill="#718096" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
              </svg>
            </span>
            <span>{{ item.publishedAt | date_to_long_string }}</span>
          </div>
          <div class="mt-4 text-gray-700">
            {{ item.teaser }}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if pagination.hrefs | length > 1 %}
      <nav role="navigation" aria-label="pagination">
        <ul class="pt-10 pb-4 flex justify-center">
          {% for pagenumber in pagination.hrefs %}
            <li class="w-10 h-10 flex items-center justify-center rounded-full{% if page.url == pagenumber %} bg-primary{% endif %}">
              <a
                class="text-2xl font-bold{% if page.url != pagenumber %} text-primary{% endif %}{% if page.url == pagenumber %} text-white{% endif %}"
                aria-label="{% if page.url == pagenumber %}Page {{ loop.index }}{% else %}Goto page {{ loop.index }}{% endif %}"
                href="{{ pagenumber }}"
              >
                {{ loop.index }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </section>
{% endblock %}

{% block scripts %}
  {% include "carouselJS.njk" %}
{% endblock %}