---
pagination:
    data: data.posts
    size: 18
permalink: "{% if pagination.pageNumber > 0 %}/pages/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
---
{% extends 'layout.njk' %}
{% import "macros.njk" as macros %}

{% block head %}
  {{
    macros.metadata(
      title=data.blog.name,
      description=data.blog.description,
      url=process.env.SITE_URL,
      siteName=data.blog.name,
      image=data.blog.image.url
    )
  }}
{% endblock %}

{% block content %}

  {% if data.carouselPosts | length > 0 %}
   {% include "carousel.njk" %}
  {% endif %}

  <section class="container mx-auto my-4">
    <div class="flex flex-wrap">
      {{ macros.postList(pagination.items) }}
    </div>

    {% if pagination.hrefs | length > 1 %}
      <nav role="navigation" aria-label="pagination">
        <ul class="pt-10 pb-4 flex justify-center">
          {% for pagenumber in pagination.hrefs %}
            <li class="w-10 h-10 flex items-center justify-center rounded-full{% if page.url == pagenumber %} bg-primary{% endif %}">
              <a
                class="text-2xl font-bold{% if page.url != pagenumber %} text-primary{% endif %}{% if page.url == pagenumber %} text-white{% endif %}"
                aria-label="{% if page.url == pagenumber %}Page {{ loop.index }}{% else %}Goto page {{ loop.index }}{% endif %}"
                href="{{ pagenumber }}"
              >
                {{ loop.index }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </section>
{% endblock %}



