---
title: Contents available while offline
permalink: offline.html
---

<div style="height: 80vh; display: flex; align-items: center; justify-content: center; text-align: center; font-family: Helvetica;">
  <p>
    Even if you're not connected, you can read some pages.
  </p>
</div>
